<!DOCTYPE html>
{% load bootstrap5 %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% bootstrap_css %}
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid justify-content-start">
      <a class="navbar-brand" href="{% url 'articles:index' %}">INDEX</a>
      {% if request.user.is_authenticated %}
        <p>{{ request.user.username }}</p>
        <form action="{% url 'accounts:logout' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="로그아웃">
        </form>
        {% comment %} update link {% endcomment %}
        <a class="navbar-brand" href="{% url 'accounts:update' %}">회원정보수정</a>
        <form action="{% url 'accounts:delete' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="회원탈퇴">
        </form>
      {% else %}
        <a class="navbar-brand" href="{% url 'accounts:signup' %}">회원가입</a>
        <a class="navbar-brand" href="{% url 'accounts:login' %}">로그인</a>
      {% endif %}
    </div>
  </nav>
  

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  {% bootstrap_javascript %}
</body>
</html>